body {
  margin : 0px;
  font-family: arial, sans-serif;
  background-color: white;
  text-align: center;
}



input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 300px;
}

